<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tagging Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/download.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <!-- Data Container for CSV download -->
            <div id="data-container" data-columns='{{ tagging_columns | tojson }}'
                data-data='{{ tagging_data | tojson }}'>
            </div>
            <div class="center-button">
                <button class="button has-text-white is-success is-medium is-rounded" onclick="downloadCSV()">
                    Download Data as CSV
                </button>
            </div>

            <table class="table is-striped is-hoverable is-fullwidth mt-5">
                <thead>
                    <tr>
                        {% for column in tagging_columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in tagging_data %}
                    <tr>
                        {% for column in tagging_columns %}
                        <td>{{ row[column] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="has-text-centered">
            <a href="/" class="button is-link is-medium is-rounded mt-5">Go Back to Home</a>
        </div>
    </section>

    <script src="/static/js/download.js"></script>
</body>

</html>